<div class="row">
     <h3>Day 15 & 17 (1)</h3>
    <table class="table table-striped">
      <tr> <td>:08:30</td>  <td> Introductions</td> </tr> 
      <tr> <td>:09:30</td>  <td> Pre-workshop survey</td> </tr>
      <tr> <td>:10:00</td> <td><a href="https://librarycarpentry.org/lc-open-refine/"> Data Cleaning with OpenRefine</a></td> </tr>
      <tr> <td>:11:30</td>  <td>Health break</td> </tr>
      <tr> <td>12:00</td> <td><a href="https://librarycarpentry.org/lc-open-refine/"> Data Cleaning with OpenRefine</a></td> </tr>
      <tr> <td>:13:30</td>  <td>Health break</td> </tr>
      <tr> <td>14:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
