<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a free open-source tool that makes organizing, editing and cleaning up messy data easier through clustering, facecting, advanced find and replace in a spreadsheet like environment.
    Please find instructions to install it and the data used in the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a>.
  </p>
</div>

<p>
    Follow the instructions on
    the <a href="https://librarycarpentry.org/lc-open-refine/setup.html">lesson</a> to install OpenRefine on your computer.
  </p>
  <p>
    </p>


